<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudTooltip Text="Right click to save to a custom location">
                <MudLink Href="@Url" download="@UrlText" Underline="Underline.Always">@UrlText</MudLink>
            </MudTooltip>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>